body {
    align-text: center;
}    

img {
    width: 100px;
    height: auto;
}

.img1 {
    margin: left;
}

.img2 {
    margin: right;
}

.p1 {
    width: 600px;
}

.row {
    display: flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin: auto;
}
